[submodule "aws-c-common"]
	path = aws-c-common
	url = git://github.com/awslabs/aws-c-common.git
[submodule "aws-c-io"]
	path = aws-c-io
	url = git://github.com/awslabs/aws-c-io.git
[submodule "aws-c-mqtt"]
	path = aws-c-mqtt
	url = git://github.com/awslabs/aws-c-mqtt.git
[submodule "s2n"]
	path = s2n
	url = git://github.com/awslabs/s2n
[submodule "aws-c-cal"]
	path = aws-c-cal
	url = git://github.com/awslabs/aws-c-cal.git
[submodule "aws-c-http"]
	path = aws-c-http
	url = git://github.com/awslabs/aws-c-http
[submodule "aws-c-compression"]
	path = aws-c-compression
	url = git://github.com/awslabs/aws-c-compression
[submodule "aws-c-auth"]
	path = aws-c-auth
	url = git@github.com:awslabs/aws-c-auth.git
