graft source
graft aws-common-runtime
global-exclude .git*
global-exclude .git*/**
global-exclude .travis*
global-exclude .travis/**
global-exclude codebuild/**
global-exclude .cbmc-batch/**
global-exclude aws-common-runtime/*/docs/**
global-exclude docker-images/**
prune aws-common-runtime/s2n/tests/fuzz/corpus
prune aws-common-runtime/s2n/tests/ctverif
prune aws-common-runtime/s2n/tests/pems
prune aws-common-runtime/s2n/tests/saw
prune aws-common-runtime/s2n/tests/sidetrail
prune aws-common-runtime/s2n/tests/integration/trust-store
prune aws-common-runtime/s2n/tests/integration/data
