graft source
graft crt
global-exclude .git*
global-exclude .git*/**
global-exclude .travis*
global-exclude .travis/**
global-exclude codebuild/**
global-exclude crt/*/verification/**
global-exclude crt/*/docs/**
global-exclude docker-images/**
prune crt/**/AWSCRTAndroidTestRunner
prune crt/aws-c-auth/tests/aws-sig-v4-test-suite
prune crt/aws-c-auth/tests/fuzz/corpus
prune crt/aws-c-s3/benchmarks
prune crt/s2n/tests
# s2n's cmake relies on a some files under test/ for compile time feature tests
include crt/s2n/tests/unit/s2n_pq_asm_noop_test.c
graft crt/s2n/tests/features
exclude crt/aws-lc/**/*test*.go
exclude crt/aws-lc/**/*test*.json
exclude crt/aws-lc/**/*test*.py
exclude crt/aws-lc/**/*test*.txt
prune crt/aws-lc/crypto/cipher_extra/test
prune crt/aws-lc/fuzz
prune crt/aws-lc/ssl
prune crt/aws-lc/tests
prune crt/aws-lc/third_party
graft crt/aws-lc/third_party/fiat
prune crt/aws-lc/tool
prune crt/aws-lc/util
graft crt/aws-lc/util/fipstools/acvp/modulewrapper
graft crt/aws-lc/util/fipstools/cavp
