graft source
graft crt
global-exclude .git*
global-exclude .git*/**
global-exclude .travis*
global-exclude .travis/**
global-exclude codebuild/**
global-exclude crt/*/verification/**
global-exclude crt/*/docs/**
global-exclude docker-images/**
prune crt/**/AWSCRTAndroidTestRunner
prune crt/aws-c-auth/tests/aws-sig-v4-test-suite
prune crt/aws-c-auth/tests/fuzz/corpus
prune crt/aws-c-s3/benchmarks
prune crt/s2n/tests
prune crt/aws-lc/tests
prune crt/aws-lc/fuzz
