autopep8 # for code formatting
setuptools # for installing from source
markupsafe==2.0.1 # needed due to sphinx having a sub-dependency on jinja2 but jinja2 does not install markupsafe
sphinx # for building docs
websockets # for tests
wheel # for building wheels
