name: Lint

on: [push]

jobs:
  clang-format:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout Sources
      uses: actions/checkout@v2

    - name: clang-format lint
      uses: DoozyX/clang-format-lint-action@v0.3.1
      with:
        # List of extensions to check
        extensions: c,h

  autopep8:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Source
      uses: actions/checkout@v2

    - name: Build and Test
      run: |
        python3 -m pip install --upgrade setuptools
        python3 -m pip install --upgrade wheel
        python3 -m pip install --upgrade autopep8
        python3 -m autopep8 --exit-code --diff --recursive awscrt test .builder setup.py

  submodule-checks:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Source
      uses: actions/checkout@v2
      with:
        submodules: true
        fetch-depth: 0
    - name: Submodule Checks
      uses: ./.github/actions/submodule-checks
